option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "india_hackathon.settings"
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "india_hackathon/wsgi.py"




container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && cd /opt/python/current/app && python ./manage.py migrate --noinput"
    leader_only: true

  02_elatic_search_indexing:
    command: "source /opt/python/run/venv/bin/activate && cd /opt/python/current/app && python ./manage.py search_index --rebuild -f"
    leader_only: true

packages:
  yum:
     git: []
     mysql-server: []
     mysql: []

files:
  "/etc/httpd/conf.d/wsgihacks.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On

commands:
  command block:
    command:  |

      sudo su
      yum install java-1.8.0-openjdk-devel -y
      cat <<EOF | sudo tee /etc/profile.d/java8.sh
      export JAVA_HOME=/usr/lib/jvm/jre-openjdk
      export PATH=\$PATH:\$JAVA_HOME/bin
      export CLASSPATH=.:\$JAVA_HOME/jre/lib:\$JAVA_HOME/lib:\$JAVA_HOME/lib/tools.jar
      EOF
      source /etc/profile.d/java8.sh
      cat <<EOF | sudo tee /etc/yum.repos.d/elasticsearch.repo
      [elasticsearch-7.x]
      name=Elasticsearch repository for 7.x packages
      baseurl=https://artifacts.elastic.co/packages/oss-7.x/yum
      gpgcheck=1
      gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
      enabled=1
      autorefresh=1
      type=rpm-md
      EOF
      sudo yum clean all
      sudo yum makecache
      sudo yum -y install elasticsearch-oss

      sudo cat <<EOF | sudo tee /etc/elasticsearch/jvm.options


      -Xms256m
      -Xmx512m



      ## GC configuration
      8-13:-XX:+UseConcMarkSweepGC
      8-13:-XX:CMSInitiatingOccupancyFraction=75
      8-13:-XX:+UseCMSInitiatingOccupancyOnly



      14-:-XX:+UseG1GC
      14-:-XX:G1ReservePercent=25
      14-:-XX:InitiatingHeapOccupancyPercent=30

      ## JVM temporary directory
      -Djava.io.tmpdir=/tmp

      ## heap dumps

      # generate a heap dump when an allocation from the Java heap fails
      # heap dumps are created in the working directory of the JVM
      -XX:+HeapDumpOnOutOfMemoryError



      # specify an alternative path for heap dumps; ensure the directory exists and
      # has sufficient space
      -XX:HeapDumpPath=/var/lib/elasticsearch

      # specify an alternative path for JVM fatal error logs
      -XX:ErrorFile=/var/log/elasticsearch/hs_err_pid%p.log

      ## JDK 8 GC logging
      8:-XX:+PrintGCDetails
      8:-XX:+PrintGCDateStamps
      8:-XX:+PrintTenuringDistribution
      8:-XX:+PrintGCApplicationStoppedTime
      8:-Xloggc:/var/log/elasticsearch/gc.log
      8:-XX:+UseGCLogFileRotation
      8:-XX:NumberOfGCLogFiles=32
      8:-XX:GCLogFileSize=64m

      # JDK 9+ GC logging
      9-:-Xlog:gc*,gc+age=trace,safepoint:file=/var/log/elasticsearch/gc.log:utctime,pid,tags:filecount=32,filesize=64m

      EOF
      sudo service elasticsearch start
      sudo chkconfig --add elasticsearch


    ignoreErrors: true