option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "india_hackathon.settings"
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "india_hackathon/wsgi.py"



container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && cd /opt/python/current/app && python ./manage.py migrate --noinput"
    leader_only: true

packages:
  yum:
     git: []
     mysql-server: []
     mysql: []

commands:
  1_command:
    command: "wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | apt-key add -"
    cwd: /home/ec2-user
  2_command:
    command: " apt-get install apt-transport-https"
    cwd: /home/ec2-user
  3_command:
    command: "echo 'deb https://artifacts.elastic.co/packages/7.x/apt stable main' |  tee -a /etc/apt/sources.list.d/elastic-7.x.list"
    cwd: /home/ec2-user
  4_command:
    command: "apt-get update && sudo apt-get install elasticsearch"
    cwd: /home/ec2-user
  5_command:
    command: "/bin/systemctl daemon-reload"
    cwd: /home/ec2-user
  6_command:
    command: "/bin/systemctl enable elasticsearch.service"
    cwd: /home/ec2-user
  7_command:
    command: "systemctl start elasticsearch.service"
    cwd: /home/ec2-user


files:
  "/etc/elasticsearch/elasticsearch.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      ################## elastic search #########################
      # ----------------------------------- Paths ------------------------------------
      #
      # Path to directory where to store the data (separate multiple locations by comma):
      #
      path.data: /var/lib/elasticsearch
      #
      # Path to log files:
      #
      path.logs: /var/log/elasticsearch
      #
      # ----------------------------------- Memory -----------------------------------
      #
      # Lock the memory on startup:
      #
      #bootstrap.memory_lock: true
      #
      # Make sure that the heap size is set to about half the memory available
      # on the system and that the owner of the process is allowed to use this
      # limit.
      #
      # Elasticsearch performs poorly when the system is swapping the memory.
      #
      # ---------------------------------- Network -----------------------------------
      #
      # Set the bind address to a specific IP (IPv4 or IPv6):
      #
      network.host: localhost
      #
      # Set a custom port for HTTP:
      #
      http.port: 9200